Repository thesct22/toolbox_webapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, codespell, pydocstyle, eslint, prettier

black:
  name: black
  entry: ./python/.venv/bin/black
  language: system
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8
  entry: ./python/.venv/bin/flake8
  language: system
  args:
  - .
  pass_filenames: false

isort:
  name: isort
  entry: ./python/.venv/bin/isort
  language: system
  args:
  - .
  pass_filenames: false

codespell:
  name: codespell
  entry: ./python/.venv/bin/codespell
  language: system

pydocstyle:
  name: pydocstyle
  entry: ./python/.venv/bin/pydocstyle
  language: system

eslint:
  name: eslint
  entry: npm run --prefix react-frontend lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run --prefix react-frontend format
  language: system
  pass_filenames: false

made ansible and rsakey singleton classes added comments to terminal.py
  python/src/toolbox/core/ansible.py
  python/src/toolbox/core/rsakey.py
  python/src/toolbox/core/terminal.py
  python/src/toolbox/server/terminal.py
Due: black, flake8, isort, codespell, pydocstyle

added docs for sphinx
  .github/workflows/ci.yml
  .vscode/settings.json
  python/.gitignore
  python/docs/Makefile
  python/docs/conf.py
  python/docs/index.rst
  python/docs/installation/backend.rst
  python/docs/installation/frontend.rst
  python/docs/installation/index.rst
  python/docs/make.bat
  python/docs/usage/index.rst
  python/docs/usage/quickstart/docker.rst
  python/docs/usage/quickstart/executable.rst
  python/docs/usage/quickstart/index.rst
Due: black, flake8, isort, codespell, pydocstyle

add api docs as well
  .github/workflows/ci.yml
  python/docs/conf.py
  python/docs/index.rst
  python/docs/modules.rst
  python/docs/toolbox.api.rst
  python/docs/toolbox.core.rst
  python/docs/toolbox.helpers.rst
  python/docs/toolbox.rst
  python/docs/toolbox.server.rst
  python/src/toolbox/api/__init__.py
  python/src/toolbox/core/__init__.py
  python/src/toolbox/helpers/__init__.py
  python/src/toolbox/server/__init__.py
Due: black, flake8, isort, codespell, pydocstyle

code style passing
  python/src/toolbox/api/__init__.py
  python/src/toolbox/core/__init__.py
  python/src/toolbox/helpers/__init__.py
  python/src/toolbox/server/__init__.py
Due: black, flake8, isort, codespell, pydocstyle

switch back to build action
  .github/workflows/ci.yml
Due: none

point to correct url
  .github/workflows/ci.yml
Due: none

added a bunch of tests
  react-frontend/__mocks__/react-router-dom.js
  react-frontend/babel.config.json
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.test.jsx
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.test.jsx
  react-frontend/src/components/Instructions/Instructions.jsx
  react-frontend/src/components/Instructions/Instructions.test.jsx
  react-frontend/src/components/NavBar/NavBar.test.jsx
  react-frontend/src/components/Terminal/Terminal.test.jsx
  react-frontend/src/setupTests.js
Due: eslint, prettier

better UI for home and config target pages
  python/src/toolbox/api/target.py
  react-frontend/src/App.css
  react-frontend/src/components/ConfigureTarget/BackgroundImage.jpg
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.jsx
  react-frontend/src/components/Home/BackgroundImage.jpg
  react-frontend/src/components/Home/Home.jsx
  react-frontend/src/components/NavBar/NavBar.jsx
  react-frontend/src/index.css
Due: black, flake8, isort, codespell, pydocstyle

added a bunch of api tests
  python/src/toolbox/api/custom.py
  python/src/toolbox/api/editor.py
  python/src/toolbox/api/target.py
  python/src/toolbox/core/file.py
  python/tests/api/test_api_custom.py
  python/tests/api/test_api_editor.py
  python/tests/api/test_api_main.py
  python/tests/api/test_api_tags_fetch.py
  python/tests/api/test_api_target_configure.py
  python/tests/api/test_api_target_install_uninstall.py
  python/tests/api/test_api_target_ping.py
  python/tests/integration/test_integration_main.py
  python/tests/unit/test_main.py
  python/tests/unit/test_unit_main.py
Due: black, flake8, isort, codespell, pydocstyle

Update README.md
  README.md
Due: none

added a bunch of python tests with 90% coverage
  python/poetry.lock
  python/pyproject.toml
  python/src/toolbox/api/custom.py
  python/src/toolbox/api/target.py
  python/src/toolbox/core/ansible.py
  python/src/toolbox/core/file.py
  python/src/toolbox/helpers/config_target.py
  python/src/toolbox/main.py
  python/src/toolbox/server/terminal.py
  python/tests/api/test_api_custom.py
  python/tests/api/test_api_target_configure.py
  python/tests/api/test_api_target_install_uninstall.py
  python/tests/api/test_api_target_ping.py
  python/tests/integration/test_integration_core_ansible_run_command.py
  python/tests/integration/test_integration_core_ansible_verify_auth.py
  python/tests/integration/test_integration_helpers_config_target.py
  python/tests/integration/test_integration_helpers_find_free_port.py
  python/tests/integration/test_integration_main.py
  python/tests/integration/test_integration_server_main.py
  python/tests/integration/test_integration_server_terminal.py
  python/tests/unit/test_unit_core_ansible.py
  python/tests/unit/test_unit_core_ansible_get_command.py
  python/tests/unit/test_unit_core_ansible_get_ping_command.py
  python/tests/unit/test_unit_core_file.py
  python/tests/unit/test_unit_core_rsakey.py
  python/tests/unit/test_unit_core_tags.py
  python/tests/unit/test_unit_helpers_read_tags.py
  python/tests/unit/test_unit_server_mount_api.py
  python/tests/unit/test_unit_server_mount_frontend.py
  react-frontend/package-lock.json
  react-frontend/src/app/store.js
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.jsx
  react-frontend/src/components/ConfigureTarget/linux.svg
  react-frontend/src/components/ConfigureTarget/windows.svg
  react-frontend/src/components/CustomPlaybook/CustomPlaybook.jsx
Due: black, flake8, isort, codespell, pydocstyle, eslint, prettier

run tests on ci again
  .github/workflows/ci.yml
Due: none

sort some assertions and have ansible,build folders in
  .github/workflows/ci.yml
  python/.gitignore
  python/tests/unit/test_unit_core_file.py
Due: black, flake8, isort, codespell, pydocstyle

use poetry to run stuff, code-style passing
  .github/workflows/ci.yml
  python/tests/unit/test_unit_core_file.py
Due: black, flake8, isort, codespell, pydocstyle

ci tweaks
  .github/workflows/ci.yml
Due: none

new images, dockerfile and added badges
  Dockerfile
  README.md
  react-frontend/src/components/Instructions/CodeEditor.jpg
  react-frontend/src/components/Instructions/ConfigureTarget.jpg
  react-frontend/src/components/Instructions/CustomPlaybook.jpg
  react-frontend/src/components/Instructions/Installer.jpg
  react-frontend/src/components/Instructions/Instructions.jsx
  react-frontend/src/components/Instructions/NavBar.jpg
  react-frontend/src/components/Instructions/Terminal.jpg
Due: none

add documentation badge as well.
  README.md
Due: none

updated instructions
  react-frontend/src/components/Instructions/Instructions.jsx
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

couple of clean ups
  ansible/inventory/oiii/ooii/meh
  ansible/ping.yml
  python/src/toolbox/server/mount_frontend.py
  react-frontend/src/components/CodeEditor/CodeEditor.jsx
  react-frontend/src/components/CodeEditor/EditorWindow.jsx
  react-frontend/src/components/CodeEditor/Tree.jsx
  react-frontend/src/components/CustomPlaybook/CustomForm.jsx
  react-frontend/src/components/CustomPlaybook/CustomPlaybook.jsx
Due: black, flake8, isort, codespell, pydocstyle

clean up tests add new tests for the frontend mounts
  python/tests/api/test_api_mount_frontend.py
  python/tests/unit/test_unit_server_mount_frontend.py
Due: black, flake8, isort, codespell, pydocstyle

remove unnecessary tests clean up
  python/src/toolbox/server/mount_frontend.py
  python/tests/api/test_api_mount_frontend.py
  python/tests/unit/test_unit_server_mount_frontend.py
  react-frontend/src/components/CodeEditor/CodeEditor.jsx
  react-frontend/src/components/CodeEditor/EditorWindow.jsx
  react-frontend/src/components/CustomPlaybook/CustomForm.jsx
  react-frontend/src/components/CustomPlaybook/CustomPlaybook.jsx
Due: black, flake8, isort, codespell, pydocstyle

minor bug fix in replacing \n and space with ,
  react-frontend/src/components/Home/Home.jsx
Due: none

Add codecov
  .github/workflows/ci.yml
Due: none

Add codecov badge
  README.md
Due: none

added 7zip, emacs,vsc and some general clean ups
  ansible/roles/editors/install/tasks/code.yml
  ansible/roles/editors/install/tasks/emacs.yml
  ansible/roles/editors/install/tasks/main.yml
  ansible/roles/editors/uninstall/tasks/code.yml
  ansible/roles/editors/uninstall/tasks/emacs.yml
  ansible/roles/editors/uninstall/tasks/main.yml
  ansible/roles/utilities/install/tasks/7zip.yml
  ansible/roles/utilities/install/tasks/main.yml
  ansible/roles/utilities/uninstall/tasks/7zip.yml
  ansible/roles/utilities/uninstall/tasks/main.yml
  python/src/toolbox/core/ansible.py
Due: black, flake8, isort, codespell, pydocstyle

autoremove unused packages on uninstall
  ansible/install.yml
  ansible/inventory/hosts.ini
  ansible/roles/browsers/uninstall/tasks/chrome.yml
  ansible/roles/browsers/uninstall/tasks/firefox.yml
  ansible/roles/editors/install/tasks/code.yml
  ansible/roles/editors/uninstall/tasks/code.yml
  ansible/roles/editors/uninstall/tasks/emacs.yml
  ansible/roles/languages/install/tasks/python.yml
  ansible/roles/languages/uninstall/tasks/go.yml
  ansible/roles/languages/uninstall/tasks/java.yml
  ansible/roles/languages/uninstall/tasks/nodejs.yml
  ansible/roles/languages/uninstall/tasks/python.yml
  ansible/roles/utilities/uninstall/tasks/7zip.yml
  ansible/roles/utilities/uninstall/tasks/docker.yml
  ansible/roles/utilities/uninstall/tasks/libreoffice.yml
  ansible/roles/version-control/uninstall/tasks/git.yml
  ansible/roles/version-control/uninstall/tasks/svn.yml
  ansible/uninstall.yml
Due: none

corrected some failing ansible modules Added ability to run application on any ports bug with code editor not having dark mode fixed
  ansible/inventory/hosts.ini
  ansible/roles/browsers/install/tasks/chrome.yml
  ansible/roles/utilities/install/tasks/docker.yml
  python/src/toolbox/core/ansible.py
  python/src/toolbox/main.py
  python/src/toolbox/server/mount_api.py
  python/tests/api/test_api_custom.py
  python/tests/api/test_api_editor.py
  python/tests/api/test_api_main.py
  python/tests/api/test_api_tags_fetch.py
  python/tests/api/test_api_target_configure.py
  python/tests/api/test_api_target_install_uninstall.py
  python/tests/api/test_api_target_ping.py
  python/tests/unit/test_unit_server_mount_api.py
  react-frontend/.env
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/CodeEditor/CodeEditor.jsx
  react-frontend/src/components/CodeEditor/EditorWindow.jsx
  react-frontend/src/components/CodeEditor/Tree.jsx
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.jsx
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.test.jsx
  react-frontend/src/components/CustomPlaybook/CustomForm.jsx
  react-frontend/src/components/CustomPlaybook/CustomPlaybook.jsx
  react-frontend/src/components/Home/Home.jsx
  react-frontend/src/components/Terminal/Terminal.jsx
  react-frontend/src/components/Terminal/Terminal.test.jsx
Due: black, flake8, isort, codespell, pydocstyle

js linting done
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.test.jsx
  react-frontend/src/setupTests.js
Due: eslint, prettier

pseudo code added terminal run on hostname fetched or parent one
  pseudocode/python/Ansible.pseudocode
  pseudocode/python/AnsibleRootFolder.pseudocode
  pseudocode/python/CustomFiles.pseudocode
  pseudocode/python/File.pseudocode
  pseudocode/python/Folder.pseudocode
  pseudocode/python/RSAKey.pseudocode
  pseudocode/python/Tags.pseudocode
  pseudocode/python/Terminado.pseudocode
  pseudocode/react/code-editor.pseudocode
  pseudocode/react/configure-target.pseudocode
  pseudocode/react/custom-playbook.pseudocode
  pseudocode/react/quick-install.pseudocode
  python/src/toolbox/server/mount_api.py
  react-frontend/src/components/Terminal/Terminal.jsx
Due: black, flake8, isort, codespell, pydocstyle

added essential tools to be installed always codestyle clean up
  ansible/install.yml
  ansible/roles/browsers/install/tasks/chrome.yml
  ansible/roles/tools/tasks/main.yml
  react-frontend/src/components/Terminal/Terminal.jsx
Due: none

pytest passing
  python/tests/api/test_api_main.py
Due: black, flake8, isort, codespell, pydocstyle

new ui images added
  react-frontend/src/components/Instructions/CodeEditor.jpg
  react-frontend/src/components/Instructions/CustomPlaybook.jpg
Due: none

documentation upate
  README.md
  python/build_standalone.sh
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  codespell: any of: \.py$
  pydocstyle: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
  prettier: any of: \.(js|mjs|cjs)$
