Repository thesct22/toolbox_webapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, codespell, pydocstyle, eslint, prettier

black:
  name: black
  entry: ./python/.venv/bin/black
  language: system
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8
  entry: ./python/.venv/bin/flake8
  language: system
  args:
  - .
  pass_filenames: false

isort:
  name: isort
  entry: ./python/.venv/bin/isort
  language: system
  args:
  - .
  pass_filenames: false

codespell:
  name: codespell
  entry: ./python/.venv/bin/codespell
  language: system

pydocstyle:
  name: pydocstyle
  entry: ./python/.venv/bin/pydocstyle
  language: system

eslint:
  name: eslint
  entry: npm run --prefix react-frontend lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run --prefix react-frontend format
  language: system
  pass_filenames: false

minor bug fixes linting and error handlings
  python/src/toolbox/api/target.py
  python/src/toolbox/core/file.py
  react-frontend/src/App.jsx
  react-frontend/src/app/store.js
  react-frontend/src/components/Home/Home.jsx
  react-frontend/src/index.jsx
Due: black, flake8, isort, codespell, pydocstyle, eslint, prettier

implemented basic code editor page
  python/poetry.lock
  python/src/toolbox/api/editor.py
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/CodeEditor/CodeEditor.jsx
  react-frontend/src/components/CodeEditor/EditorWindow.jsx
  react-frontend/src/components/CodeEditor/Tree.jsx
  react-frontend/src/components/Home/Home.jsx
Due: black, flake8, isort, codespell, pydocstyle

added build script
  python/README.md
  python/tools/build.py
Due: black, flake8, isort, codespell, pydocstyle

completed code editor page
  python/src/toolbox/api/editor.py
  python/src/toolbox/core/file.py
  react-frontend/src/components/CodeEditor/Tree.jsx
  react-frontend/src/components/Home/Home.jsx
Due: black, flake8, isort, codespell, pydocstyle

custom playbook page completed
  python/src/toolbox/api/custom.py
  python/src/toolbox/api/target.py
  python/src/toolbox/core/ansible.py
  react-frontend/src/components/CodeEditor/CodeEditor.jsx
  react-frontend/src/components/ConfigureTarget/ConfigureTarget.jsx
  react-frontend/src/components/CustomPlaybook/CustomForm.jsx
  react-frontend/src/components/CustomPlaybook/CustomPlaybook.jsx
  react-frontend/src/components/Home/Home.jsx
Due: black, flake8, isort, codespell, pydocstyle

dockerfile added
  .dockerignore
  Dockerfile
  python/setup.sh
  python/src/toolbox/main.py
Due: black, flake8, isort, codespell, pydocstyle

add a few unit tests and code coverage
  .isort.cfg
  python/.gitignore
  python/poetry.lock
  python/pyproject.toml
  python/src/toolbox/api/target.py
  python/src/toolbox/core/rsakey.py
  python/src/toolbox/helpers/config_target.py
  python/src/toolbox/helpers/find_free_port.py
  python/src/toolbox/main.py
  python/src/toolbox/server/main.py
  python/tests/unit/test_main.py
  python/tests/unit/test_tags_fetch.py
  python/tests/unit/test_target_configure.py
  python/tests/unit/test_target_ping.py
Due: black, flake8, isort, codespell, pydocstyle

added ci_cd
  .github/workflows/ci.yml
Due: none

put python versions as strings
  .github/workflows/ci.yml
Due: none

give correct path
  .github/workflows/ci.yml
Due: none

correct poetry syntax
  .github/workflows/ci.yml
Due: none

more updates
  .github/workflows/ci.yml
Due: none

more corrections
  .github/workflows/ci.yml
  react-frontend/src/components/CodeEditor/Tree.jsx
Due: none

edited docker file, fixed firefox and python better error handling for target endpoints
  Dockerfile
  ansible/inventory/hosts.ini
  ansible/roles/browsers/install/tasks/firefox.yml
  ansible/roles/browsers/uninstall/tasks/firefox.yml
  ansible/roles/languages/install/tasks/python.yml
  python/src/toolbox/api/target.py
Due: black, flake8, isort, codespell, pydocstyle

add build folder for test sake
  .github/workflows/ci.yml
Due: none

add requests to module list, add build/static
  .github/workflows/ci.yml
  python/poetry.lock
  python/pyproject.toml
Due: none

changed | to Union for <python3.10, add ansible folder to src
  .github/workflows/ci.yml
  python/src/toolbox/helpers/read_tags.py
Due: black, flake8, isort, codespell, pydocstyle

remove all |
  python/src/toolbox/api/install.py
  python/src/toolbox/api/uninstall.py
  python/src/toolbox/core/tags.py
  python/src/toolbox/helpers/read_tags.py
Due: black, flake8, isort, codespell, pydocstyle

added terminal backend barebone
  python/src/toolbox/api/terminal.py
Due: black, flake8, isort, codespell, pydocstyle

added terminal using terminado
  python/poetry.lock
  python/pyproject.toml
  python/src/toolbox/api/terminal.py
  python/src/toolbox/main.py
  python/src/toolbox/server/terminal.py
  python/src/toolbox/templates/termpage.html
  python/src/toolbox/templates/uimod.html
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/NavBar/NavBar.jsx
  react-frontend/src/components/Terminal/Terminal.jsx
Due: black, flake8, isort, codespell, pydocstyle

added pywebview
  python/poetry.lock
  python/pyproject.toml
  python/src/toolbox/main.py
Due: black, flake8, isort, codespell, pydocstyle

working docker container
  Dockerfile
  python/src/toolbox/helpers/config_target.py
Due: black, flake8, isort, codespell, pydocstyle

naming correction
  .dockerignore
  .github/workflows/ci.yml
  python/.gitignore
  python/pyproject.toml
Due: none

added action to build docker container
  .github/workflows/ci.yml
Due: none

use python on slim debian
  Dockerfile
Due: none

comment out tests for now
  .github/workflows/ci.yml
Due: none

stupid spelling mistake
  .github/workflows/ci.yml
Due: none

use only needed stuff for now
  .github/workflows/ci.yml
Due: none

made standalone executable.
  .dockerignore
  .github/workflows/ci.yml
  python/.gitignore
  python/poetry.lock
  python/pyproject.toml
Due: none

build deliverables on merge only made script to create standalone
  .github/workflows/ci.yml
  python/build_standalone.sh
Due: none

run builds only when needed
  .github/workflows/ci.yml
Due: none

add main readme
  README.md
Due: none

Update README.md
  README.md
Due: none

retain sudo permission to user
  Dockerfile
Due: none

a bunch of clean ups and additions
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.testmachine
  README.md
  ansible/custom.yml
  ansible/install.yml
  ansible/inventory/hosts.ini
  ansible/ping.yml
  ansible/roles/browsers/install/tasks/chrome.yml
  ansible/roles/browsers/install/tasks/edge.yml
  ansible/roles/browsers/install/tasks/main.yml
  ansible/roles/browsers/uninstall/tasks/chrome.yml
  ansible/roles/browsers/uninstall/tasks/edge.yml
  ansible/roles/browsers/uninstall/tasks/firefox.yml
  ansible/roles/languages/install/tasks/go.yml
  ansible/roles/languages/install/tasks/java.yml
  ansible/roles/languages/install/tasks/nodejs.yml
  ansible/roles/languages/uninstall/tasks/java.yml
  ansible/roles/languages/uninstall/tasks/nodejs.yml
  ansible/roles/languages/uninstall/tasks/python.yml
  ansible/roles/utilities/install/handlers/main.yml
  ansible/roles/utilities/install/tasks/docker.yml
  ansible/roles/utilities/install/tasks/helm.yml
  ansible/roles/utilities/install/tasks/k3s.yml
  ansible/roles/utilities/install/tasks/libreoffice.yml
  ansible/roles/utilities/uninstall/handlers/main.yml
  ansible/roles/utilities/uninstall/tasks/docker.yml
  ansible/roles/utilities/uninstall/tasks/k3s.yml
  ansible/roles/utilities/uninstall/tasks/libreoffice.yml
  ansible/roles/utilities/uninstall/tasks/main.yml
  ansible/roles/version-control/install/tasks/git.yml
  ansible/test.py
  ansible/uninstall.yml
  python/src/toolbox/api/target.py
  python/src/toolbox/core/ansible.py
Due: black, flake8, isort, codespell, pydocstyle

build both docker containers
  .github/workflows/ci.yml
Due: none

changed icons, added instructions
  ansible/test.py
  images/CodeEditor.jpg
  images/ConfigureTarget.jpg
  images/CustomPlaybook.jpg
  images/Terminal.jpg
  images/installer.jpg
  react-frontend/public/favicon.ico
  react-frontend/public/index.html
  react-frontend/public/logo192.png
  react-frontend/public/logo512.png
  react-frontend/public/manifest.json
  react-frontend/src/components/Instructions/CodeEditor.jpg
  react-frontend/src/components/Instructions/ConfigureTarget.jpg
  react-frontend/src/components/Instructions/CustomPlaybook.jpg
  react-frontend/src/components/Instructions/Installer.jpg
  react-frontend/src/components/Instructions/Instructions.jsx
  react-frontend/src/components/Instructions/NavBar.jpg
  react-frontend/src/components/Instructions/Terminal.jpg
  react-frontend/src/components/NavBar/NavBar.jsx
Due: black, flake8, isort, codespell, pydocstyle

code style passing, remove images from wrong place
  images/CodeEditor.jpg
  images/ConfigureTarget.jpg
  images/CustomPlaybook.jpg
  images/Terminal.jpg
  images/installer.jpg
  react-frontend/src/components/Instructions/Instructions.jsx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  codespell: any of: \.py$
  pydocstyle: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
  prettier: any of: \.(js|mjs|cjs)$
